<% if @in_progress_commute.present? %>
  <%= form_tag arrival_path do %>
    <button class="btn btn-primary btn-lg btn-block">Arrive</button>
  <% end %>
<% else %>
  <%= form_tag departure_path do %>
    <button class="btn btn-primary btn-lg btn-block">Depart</button>
  <% end %>
<% end %>

<hr/>

<% if @latest_commutes.any? %>
  <h2>Recent Commutes</h2>

  <table class="table table-striped">
    <%= content_tag_for :tr, @latest_commutes do |commute| %>
      <td>
        <%= content_tag :time, datetime: commute.departed_at do %>
          <%= commute.day %>
        <% end %>
      </td>
      <td><%= commute.duration %></td>
      <td>
        <%= link_to commute, method: :delete, class: "delete", data: { confirm: "Really?" } do %>
          <span class="glyphicon glyphicon-remove text-danger"></span>
        <% end %>
      </td>
    <% end %>
  </table>
<% end %>

<% if @daily_averages.any? %>
  <h2>Daily Averages</h2>

  <table class="table table-striped daily">
    <%= content_tag_for :tr, @daily_averages do |daily_average| %>
      <td><%= daily_average.day %></td>
      <td><%= daily_average.duration %></td>
    <% end %>
  </table>
<% end %>
